<h1 class="p-2 mb-5 border-b-2 border-t-2 border-black text-center text-2xl font-bold italic">Add New Comic</h1>


<%= render 'form', comic: @comic %>

<div class="container flex justify-center pb-5">
	<div class="actions font-bold mt-3 mr-1 pl-4 pr-4 text-gray-800 bg-blue-500 rounded 
		hover:bg-gray-800 hover:text-gray-200 shadow text-center">
		<%= link_to '↵', comics_path %> 
	</div>
</div>
