<h1 class="text-center border-b-2 border-t-2 p-2">Add New Comic</h1>

<%= render 'form', comic: @comic %>

<div class="border-t-2 text-blue-500 text-center m-5 p-2 text-xl">
	<%= link_to '↵', comics_path %> 
</div>
