<nav class="mb-4 text-gray-100 bg-yellow-300">
    <div class="container flex justify-center mx-auto">
        <%= link_to "Comics",  comics_path, class: "p-2 no-underline hover:bg-red-600 hover:text-gray-100 
        #{current_controller?(:comics) && 'font-bold bg-blue-500 text-gray-800'}" %>
    </div>
</nav>
